/* Barra superior */
.barraSuperior {
    position: relative;
    background-color: #FF9E01;
    height: 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

img {
    position: absolute;
    top: 3px;
    right: 50px;
    width: 56px;
    z-index: 1;
    cursor: pointer;
}

/* Titulo */
h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #000000;
}

.seleccionDeProveedor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

select {
    width: 250px;
    height: 40px;
    border-radius: 6px;
    border: none;
    padding: 5px;
    font-size: 16px;
    margin-top: 5px;
}

/* tabla de productos */
table {
    background-color: #FFFFFF;
    width: 90%;
    border-collapse: collapse;
    font-size: 18px;
    border-radius: 6px;
    margin: auto;
    margin-top: 3%;
}

/* Encabezado */
th {
    background-color: #FF9E01;
    color: #FFFFFF;
    border: #9a9a9a 2px solid;
    align-items: center;
}

/* Filas y columnas */
tr,
td {
    border: #9a9a9a 2px solid;
    text-align: center;
}

/* Saca flechitas del imput number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.divBotones {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

button,
input[type=button] {
    font-family: 'Ubuntu', sans-serif;
    width: 160px;
    height: 40px;
    background-color: #FF9E01;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}