/* Barra superior */
.barraSuperior {
    position: relative;
    background-color: #FF9E01;
    height: 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

img {
    position: absolute;
    top: 3px;
    right: 50px;
    width: 56px;
    z-index: 1;
    cursor: pointer;
}

/* Titulo */
h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #000000;
}